{{> navbar}}
{{_id}}
{{#each items}}

     <h4 class="my-3">Nombre de Producto :{{name}}</h4>
     <h4>Id del producto{{_id}}</h4>
     <img src="./img/productos/{{url}}" class="img-fluid mb-2"  alt="Responsive image">
     <h4 class="fmb-2"> Precio: {{price}} <h4>
     <h4 class="mb-5"> Cantidad: {{quantity}} </h4>
     
   {{/each}}   