{{> navbar}}
{{#each orders}}
<div class="mt-5">
<h2>Pedido con id: {{_id}}</h2>
{{#each items}}

<div class="card mb-3 mt-5">
  <img src="../../img/products/{{url}}" class="card-img-top "  style="width: 25%" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
   <p>Descripcion: {{description}}</p>
   <p>Cantidad: {{quantity}}</p>
    <p class="card-text"><small class="text-muted">El codigo de Producto es : {{_id}}</small></p>
    <h5>Precio: {{price}}</h5>
</div>
</div>

     
   {{/each}} 
</div>
<div class="row bg-primary altura"></div>     
 {{/each}}