{{> navbar}}
<h2>Listado de Productos</h2>
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
    {{#each products}}
    <form action="/cart" method="POST" class="my-5">
      <th scope="row">{{name}} </th>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>
      <input type="hidden" class="form-control" name="_id" value={{_id}} aria-describedby="emailHelp"  readonly>
      <td><input type="number" class="form-control"  name="quantity" min="1" value="1" max={{stock}} aria-describedby="emailHelp" required></td>
      <td><button type="submit" class="btn btn-primary ">Agregar al Carrito</button></td>
      <td><a href='/product/{{_id}}' class="btn btn-success">Ver el producto en detalle</a></td>
      </tr>
      </form>

    {{/each}}
</tbody>
</table> 
