
<h2>Listado de Productos</h2>
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Id</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Categoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  
    {{#each products}}
    <tr>
      <th scope="row">{{name}} </th>
      <td>{{_id}}</td>
      <td>{{description}}</td>
      <td>{{category}}</td>
      <td>{{price}}</td>
      <td>{{stock}}</td>



    {{/each}}
</tbody>
</table> 
