{{> navbar }}

    {{#each product}}
<div class="card mb-3 mt-5">
  <img src="./img/products/{{url}}" class="card-img-top "  style="width: 25%" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{url}}</h5>{{description}}</p>
    <p class="card-text"><small class="text-muted">El codigo de Producto es : {{_id}}</small></p>
    <h5>Precio: {{price}}</h5>
    
    <form action="/cart" method="POST" class="my-5">

 <input type="hidden" class="form-control" name="_id" value={{_id}} aria-describedby="emailHelp"  readonly>

<input type="number" class="form-control" style="width: 25%" name="quantity" min="1" value="1" max={{stock}} aria-describedby="emailHelp" required>
<button type="submit" class="btn btn-primary my-5">Agregar al Carrito</button>
      </form>
</div>

    {{/each}}